<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Management Portal</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
        }

        .navbar {
            /*overflow: hidden;*/
            background-color: #333;
        }

            .navbar a {
                float: left;
                font-size: 16px;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

        .subnav {
            float: left;
            overflow: hidden;
        }

            .subnav .subnavbtn {
                font-size: 16px;
                border: none;
                outline: none;
                color: white;
                padding: 14px 16px;
                background-color: inherit;
                font-family: inherit;
                margin: 0;
            }

            .navbar a:hover, .subnav:hover .subnavbtn {
                background-color: red;
            }

        .subnav-content {
            display: none;
            position: absolute;
            left: 0;
            background-color: red;
            width: 100%;
            z-index: 1;
        }

            .subnav-content a {
                float: left;
                color: white;
                text-decoration: none;
            }

                .subnav-content a:hover {
                    background-color: #eee;
                    color: black;
                }

        .subnav:hover .subnav-content {
            display: block;
        }

        .jumbotron {
            background-color: #2787e0;
        }

        .container {
            padding-right: 0px;
            padding-left: 0px;
        }

        .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
            padding-right: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="container navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                @Html.ActionLink("Home", "Index", "Home")
                @if (HttpContext.Current.User.IsInRole("Employee"))
                {
                    <div class="subnav">
                        <button class="subnavbtn">Employee <i class="fa fa-caret-down"></i></button>
                        <div class="subnav-content">

                            @if (ViewBag.IsRegisteredEmployee == null)
                            {
                                @Html.ActionLink("Create Profile", "Create", "Employees")
                            }
                            else
                            {
                                @Html.ActionLink("Edit Profile", "Edit", "Employees")
                            }

                            @Html.ActionLink("Download Documents", "DownloadDocument", "CompanyDocuments")

                        </div>
                    </div>
                }
                @if (HttpContext.Current.User.IsInRole("HR"))
                {
                    <div class="subnav">
                        <button class="subnavbtn">Employer - HR <i class="fa fa-caret-down"></i></button>
                        <div class="subnav-content">
                            @Html.ActionLink("Manage Companies", "Index", "Companies")
                            @Html.ActionLink("Manage Employees", "Create", "Companies")
                        </div>
                    </div>
                }
                @if (HttpContext.Current.User.IsInRole("Super Admin"))
                {
                    <div class="subnav">
                        <button class="subnavbtn">Admin <i class="fa fa-caret-down"></i></button>
                        <div class="subnav-content">
                            @Html.ActionLink("Manage Roles", "Index", "RolesAdmin")
                            @Html.ActionLink("Manage Users", "Index", "UsersAdmin")
                            @Html.ActionLink("Manage Companies", "Index", "Companies")
                            @Html.ActionLink("Manage Company Documents", "Index", "CompanyDocuments")
                        </div>
                    </div>
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
        @RenderBody()
        <hr />
        <footer>
            <div>
                <div class="col-lg-6">
                    <address>
                        VHaaSh Technologies Pvt Ltd<br />
                        5th Floor, Viraj Heights, Above BeFit Gym,<br />
                        Near Zeal College Chowk, Narhe, Pune - 411 041<br />
                        <abbr title="Phone">P:</abbr>
                        +91 7447788880
                    </address>
                </div>
                <div class="col-lg-6">
                    <address>
                        <strong>Support:</strong>   <a href="mailto:info@vhaashtech.com">info@vhaashtech.com</a><br />
                        <strong>Support:</strong> <a href="mailto:vikul.rathod@vhaashtech.com">vikul.rathod@vhaashtech.com</a>
                    </address>
                </div>
            </div>
            <p>&copy; @DateTime.Now.Year - VHaaSh Technologies Pvt Ltd</p>
        </footer>
    </div>
    <script>
        $(window).bind('beforeunload', function (e) {
            document.getElementById('logoutForm').submit();
        });
    </script>
</body>
</html>
